@use "sass:math";
@use "vars" as *;
@use "mixins" as *;

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  width: 100%;
}

.container-header {
  margin: 0 auto;
  padding: 0 var(--container-padding-header);
  max-width: var(--container-width-header);
  width: 100%;
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));

  @include s-laptop {
    padding-left: var(--container-padding);
  }

  @include mobile {
    padding-left: rem(20);
  }
}

.container-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));

  @include s-laptop {
    padding-right: var(--container-padding);
  }
}
