@use "sass:math";
@use "functions" as *;

$laptop: 1439.98;
$s-laptop: 1280.98;
$tablet: 1023.98;
$mobile: 768.98;
$s-mobile: 592.98;
$mobile-s: 539.98;
$mini: 371.98;
$mini-s: 363.98;

@mixin mediaBg() {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

@mixin laptop-above {
  @media (width > rem($laptop)) {
    @content;
  }
}

@mixin laptop {
  @media (width <= rem($laptop)) {
    @content;
  }
}

@mixin s-laptop {
  @media (width <= rem($s-laptop)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > rem($tablet)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= rem($tablet)) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > rem($mobile)) {
    @content;
  }
}

@mixin s-mobile {
  @media (width <= rem($s-mobile)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= rem($mobile)) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > rem($mobile-s)) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= rem($mobile-s)) {
    @content;
  }
}

@mixin mini {
  @media (width <= rem($mini)) {
    @content;
  }
}

@mixin mini-s {
  @media (width <= rem($mini-s)) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}

@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
@mixin mediaBg() {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}
