@use "mixins" as *;
@use "functions" as *;

:root {
  --container-width: 1172px;
  --container-padding: 35px;

  --container-width-header: 1350px;
  --container-padding-header: 45px;

  --font-main: "Montserrat", sans-serif;
  --font-accent: "Ruberoid", sans-serif;

  --page-bg: rgb(245, 245, 245);
  --header-bg: linear-gradient(180deg, rgb(241, 241, 241), rgb(240, 242, 241) 16.255%, rgb(235, 237, 236) 43.26%, rgb(230, 232, 231) 72.504%, rgb(222, 226, 225) 100%);

  --text-color: rgb(132, 132, 132);
  --title: rgb(73, 94, 76);
  --header-color: rgb(120, 192, 129);
  --accent: rgb(124, 163, 129);

  --link-color: rgb(92, 205, 106);
}
