@use "./base/index" as *;

.buildings {
  min-height: rem(488);
  margin-bottom: rem(100);

  background-image: url("../img/buildings/buildings.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  @include laptop {
    background-position: rem(-212) 108%;
    background-size: auto rem(488);
  }

  @include mobile {
    background-image: url("../img/buildings/buildings-mobile.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center -257%;
  }
}

.buildings__wrapper {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.buildings__title {
  margin-bottom: rem(85);
  max-width: rem(867);
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: rem(45);
  line-height: 1.33;
  text-transform: capitalize;
  color: #495e4c;

  @include tablet {
    font-size: rem(44);
    max-width: rem(545);
  }

  @include mobile {
    font-size: rem(28);
    line-height: 1.36;
    max-width: rem(344);
    margin-bottom: rem(55);
  }
}

.buildings__title-separator {
  display: inline-flex;
  gap: rem(30);
  align-items: center;
  &::after {
    content: "";
    border-radius: 1px;
    width: 236px;
    height: 3px;
    background: #78c081;

    @include mobile {
      width: 106px;
      height: 2px;
      display: none;
    }
  }
}

.buildings__title-separator-mobile {
  display: none;

  &::after {
    content: "";
    border-radius: 1px;
    width: 236px;
    height: 3px;
    background: #78c081;

    @include mobile {
      width: 106px;
      height: 2px;
    }
  }

  @include mobile {
    display: inline-flex;
    gap: rem(17);
    align-items: center;
  }
}

.buildings__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(47);

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);
  }
}

.buildings__card {
  position: relative;
  max-width: rem(257);

  background: #fff;
  box-shadow: 0 0 10px 0 rgba(73, 93, 76, 0.1);
  overflow: hidden;
  border-radius: rem(24);

  @include mobile {
    width: rem(152);
    height: rem(192);

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    border-radius: rem(24);
    overflow: hidden;
    background: #fff; // чтобы всё выглядело цельно
  }
}

.buildings__card-price {
  position: absolute;
  top: rem(20);

  font-family: var(--font-main);
  font-weight: 600;
  font-size: rem(15);
  color: #495d4c;
  text-align: center;
  padding: rem(5) 0;

  border-radius: 0 10px 10px 0;
  width: rem(119);
  height: rem(28);
  background: #d9fadd;
}

.buildings__card-img {
  border-radius: rem(24) rem(24) 0 0;
  overflow: hidden; /* чтобы обрезать изображение по скруглению контейнера */

  img {
    @include mobile {
      max-height: 131px; /* максимальная высота — базовая */
      max-width: none;
      width: auto; /* сохраним пропорции */
      object-fit: cover; // чтобы изображение сохраняло пропорции и заполняло всю высоту
    }
  }
}

.buildings__card-body {
  justify-content: baseline;
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: rem(16);
  color: #78c081;
  padding-left: rem(15);
  padding-right: rem(15);
  padding-bottom: rem(10);
  flex: auto 1 1;
}
