@use "./base/index" as *;

.cta {
  padding-block: rem(55);
  margin-bottom: rem(100);
  background-image: url("../img/cta/cta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 30%;
  @include mediaBg() {
    background-image: url("../img/cta/cta@2x.jpg");
  }
}

.cta__wrapper {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.cta__title {
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: rem(35);
  line-height: 1.29;
  color: #495e4c;

  margin-bottom: rem(33);

  @include tablet {
    text-align: center;
  }

  @include mobile {
    font-size: rem(28);
    max-width: rem(340);
  }

  @include s-mini {
    font-size: rem(24);
  }
}

.cta__form {
  display: flex;
  gap: rem(60);
  align-items: baseline;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.inputs {
  display: flex;
  gap: rem(30);

  @include tablet {
    flex-direction: column;
  }
}

.cta__form-input {
  height: rem(57);
  padding: rem(20);

  @include tablet {
    max-width: rem(319);
  }

  @include mini {
    max-width: rem(270);
  }
}

.cta__btn {
  padding: rem(15) rem(50);
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: rem(15);
  border-radius: rem(25);

  @include tablet {
    max-width: rem(319);
  }

  @include mini {
    max-width: rem(270);
  }
}
