@use "./base/index" as *;

.footer {
  background-color: #999;
  background-image: url("./../../img/footer/background.png");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;

  padding: rem(86) 0;
  background-color: #e3e3e3;

  @include mobile {
    padding: 0 0 rem(86) 0;
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(120);

  @include s-laptop {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @include mobile {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(60);
  }
}
.footer__descr {
}
.footer__img {
  margin-bottom: rem(30);

  @include mobile-s {
    max-width: rem(300);
  }

  @include mini {
    max-width: rem(200);
  }
}
.footer__text {
  max-width: rem(400);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: rem(14);
  line-height: 171%;
  color: #7ca381;
  margin-bottom: rem(25);

  @include mobile-s {
    max-width: rem(300);
  }

  @include mini {
    max-width: rem(280);
  }
}

.footer__separator {
  display: block;
  border-radius: rem(1);
  width: rem(400);
  height: rem(1);
  background: #78c081;
  margin-bottom: rem(35);

  @include mobile-s {
    max-width: rem(300);
  }

  @include mini {
    max-width: rem(200);
  }
}
.footer__title {
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: rem(18);
  color: #495d4c;

  @include mobile-s {
    max-width: rem(300);
  }
}
.footer__title-link {
  font-size: rem(22);
  text-transform: capitalize;
  color: #78c081;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.footer__contacts {
}
.footer__contacts-title {
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: rem(26);
  color: #495e4c;
  margin-bottom: rem(25);
}
.footer__contacts-items {
  display: flex;
  flex-direction: column;
  gap: rem(15);
}
.footer__contacts-item {
  width: rem(220);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: rem(16);
  line-height: 150%;
  color: #7b897d;
}
.footer__tel {
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    width: rem(22);
    height: rem(23);
    margin-right: rem(10);
    background-image: url("../../img/footer/tel.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: rem(30);
    display: block;
    border-radius: rem(0);
    width: rem(222);
    height: rem(1);
    background: #bee1c2;
  }
}

.footer__mail {
  &::before {
    content: "";
    display: inline-block;
    width: rem(24);
    height: rem(18);
    margin-right: rem(10);
    background-image: url("../../img/footer/mail.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
  }
}
.footer__week {
  &::before {
    content: "";
    display: inline-block;
    width: rem(22);
    height: rem(22);
    margin-right: rem(10);
    background-image: url("../../img/footer/calendar.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
  }
}
.footer__address {
  max-width: rem(184);
  &::before {
    content: "";
    display: inline-block;
    width: rem(24);
    height: rem(31);
    margin-right: rem(10);
    background-image: url("../../img/footer/map.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.footer__inputs {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  margin-bottom: rem(35);
}
.footer__form-input {
  border-radius: rem(15);
  width: rem(290);
  height: rem(49);
  box-shadow: 0 0 10px 0 rgba(73, 93, 76, 0.1);
  background: #fff;

  font-family: var(--font-main);
  font-weight: 400;
  font-size: rem(14);
  color: #7ca381;
  padding-left: rem(20);

  @include mini {
    max-width: rem(250);
  }
}

.footer__form-title {
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: rem(26);
  color: #495e4c;
  margin-bottom: rem(25);
}
