@use "./base/index" as *;

.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;

  background: #d9fadd;
  transition: all 0.5s ease-in;
  display: none;

  @include s-laptop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  font-family: var(--font-family);
  color: #495e4c;

  &:hover {
    color: var(--accent);
  }

  transition: all 0.2s ease-in;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 20px;

  & .active {
    opacity: 0.5;
  }
}
