@use "./base/index" as *;

/* Nav Icon */
.nav-icon-menu {
  --time: 0.1s;

  --width: 25px;
  --height: 16px;

  --line-height: 2px;
  --spacing: 6px;

  --color: #5ccd6a;
  --radius: 2px;

  /* Fixed height and width */
  /* height: var(--height); */
  /* width: var(--width); */

  /* Dynamic height and width */
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  /* Layout */

  z-index: 1100;
  // display: none;

  // @media (max-width: 1000px) {
  // 	.mobile-nav-btn {
  // 		display: block;
  // 	}
  // }
}

.line {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
}

.line-2 {
  display: flex;
  justify-content: space-between;
  width: 25px;
  background: none;
  height: auto;
}

.line-2-left,
.line-2-right {
  background-color: #5ccd6a;
  height: 2px;
  border-radius: 2px;
}

.line-2-left {
  width: 6px;
}

.line-2-right {
  width: 16px;
}

.nav-icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 49px;
  height: 49px;
  box-shadow: 0 4px 10px 0 rgba(73, 93, 76, 0.15);
  background: #fff;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 69px;
  height: 69px;
  background: rgba(255, 255, 255, 0.45);
}

.icon-close {
  display: none;
}

.mobile-nav-btn {
  display: none;

  @include s-laptop {
    display: block;
  }
}

.mobile-nav-btn--active {
  .nav-icon {
    display: none;
  }

  .icon-close {
    display: block;
  }
}
